<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class = "container">
      <div class="text-field">
        <div class="username"><input type="username" class="user-input" placeholder="username" /></div>
        <div class="password"><input type="password" class="pass-input" placeholder="password" /></div
        <div class="button"><button class="login-button">Login</button></div>
      </div>
    </div>
  </body>
</html>
