<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <ul class="nav-bar">
          <li><a href="register.html">Register</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="profile.html">Profile</a></li>
          <li><a href="player.html">Streamify</a></li>
        </ul>
      </nav>
      <div class="text-field">
        <div class="username"><input type="username" class="user-input" placeholder="username" /></div>
        <div class="password"><input type="password" class="pass-input" placeholder="password" /></div>
        <div class="confirm-password"><input type="password" class=pass-input" placeholder="confirm password" /></div>
        <div class="list">
          <ul>
            <li>Password must be at least 8 characters long</li>
            <li>Password cannot contain only numbers</li>
            <li>Password cannot contain only letters</li>
          </ul>
        </div>
        <div class="button"><button class="signin-button">Register</button></div>
      </div>

    </div>
  </body>
</html>
