body {
    background: #FFFFFF;
}

ul {
  text-align: left;
  font-size: 14px;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  width: 100%;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.container {
    position: absolute;
    width: 300pt;
    height: 500pt;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.text-field {
  position: relative;
  top: 15%;
  width: 75%;
  padding: 75px 5px 5px 5px;
}

.text-field input {
  height: 1px;
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color: #555;
  padding:20px 10px 20px 5px;
}

.username, .password, .confirm-password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}

.list {
  position: absolute;
}

.button {
  position: absolute;
  left: 72.5%;
  bottom: 50%;
}

.signin-button {
  outline: none;
  border:none;
  cursor: pointer;
  position: absolute;
  bottom: 30%;
  height: 20px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  color:#fff;
  text-align: center;
  background: ##ffffff;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
  transition: 0.5s;
}
.signin-button:hover {
  background:#ffffff;
}
.signin-button:active {
  background:#000000;
}
